	.brends {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	@include center(600px);
	padding: 0;
	
	list-style: none;

	&__link {
		display: inline-block;
		width: 100px;
		height: 29px;
		margin-bottom: 10px;
		padding-top: 10px;
		padding-bottom: 11px;
		padding-left: 20px;
		padding-right: 20px;
		background-color: $link-bg;
		
		font-size: 18px;
		line-height: 29px;
		color: $link-color;
		text-align: center;

		span {
			border-bottom: 2px dotted $border-link-color;
		}

		&--active {
			background-color: $link-act-color;
		}

		&:hover,
		&:focus {
			background-color: $link-hov-color;
		}

		&:active {
			background-color: $link-act-color;
		};
	}
}

@media (max-width: $medium){
	.brends {
		@include center(621px);
	}
}

@media (max-width: $small){
	.brends {
		@include center(440px);
	}
}

@media (max-width: $extra-small) {
	.brends {
		display: block;
		width: 100%;
		margin-bottom: 20px;

		&__link {
			width: 100%;
			@include pm-zero();
			margin-bottom: 5px;
			padding-top: 10px;
			padding-bottom: 11px;
		}
	}
}