$main-text-color: #1d1813;
$title-color: #3c2f20;
$border-color: #3c2f20;
$text-hov: #5b84f0;
$border-hov: #5b84f0;
$text-act: #bfcdf1;
$border-act: #bfcdf1;
$link-color: #77716a;
$border-link-color: #77716a;
$link-bg: #f5f3e8;
$link-act-color: #8fb52c;
$link-hov-color: #c7fb3f;